.total1, .total2, .total3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.t1, .t2, .t3, .t4, .t5, .t6 {
   position: relative;
}

.image-overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.total1 img, .total2 img, .total3 img {
    width: 100%;
    height: 100%;
}

.content-wrapper {
    position: absolute;
    bottom: 50px;
    left: 140px; /* Adjusted from 0 to 140px */
    width: auto; /* Let the content determine the width */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    /* Add any additional styling */
    cursor: pointer;
    transition: bottom 0.5s ease;
}

.heading {
    margin: 0; 
    font-size: 49px;
}

.description {
    display: none;
    color: white;
    z-index: 1;
    margin: 0;
    font-size: 14px;
    font-family: Arial, sans-serif;
    left: -50%;
    font-weight: 600;
    margin-left: 5px;
}

.icon {
    margin-right: 12px; /* Adjust the margin-right as needed */
}

.heading:hover + .description {
    display: block;
    bottom: 70px; 
}

.heading:hover {
    margin-bottom: 20px; /* Adjust the final margin as needed */
}




@media screen and (max-width:460px){
    .heading{
        font-size: 18px;
    }
    .total1, .total2, .total3 {
        display: flex;
       flex-direction: column;
    }
 
}
